
body {
    background-color: #245580;
}

div.widget {
    position: relative;
}

/* Clock */

.clock {
    z-index: 1;
}

.arrowLong {
    position: absolute;
    top: 0;
    left: 0;
    animation: tick 60s infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.arrowShort {
    position: absolute;
    top: 0;
    left: 0;
    animation: tick 3600s infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes tick {

    100% {
        transform: rotate(360deg);
    }

}

/* Button */

.button {
    position: absolute;
    top: 0;
    left: 0;
}

.specificImageExample {
    width: 100px;
    height: 100px;
    background-image: url(#{resource['time:images/button.svg']});
    background-size: 100px 100px;
}