<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- JNDI -->
    <!--<jee:jndi-lookup id="general.service.properties" jndi-name="config/general-service-properties" />-->
    <jee:jndi-lookup id="db.datasource.core" jndi-name="jdbc/db.datasource.core" expected-type="javax.sql.DataSource"/>

    <!-- Properties  -->
    <bean id="be.gerard.core.service.properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="localOverride" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:be.gerard.core.service.properties</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="properties" ref="be.gerard.core.service.properties"/>
    </bean>

    <!-- Main Config -->
    <import resource="classpath:be.gerard.core.service.xml"/>
    <!--<import resource="classpath:be.gerard.common.logging.xml"/>-->

    <!-- Spring Security -->
    <!--
    <security:http>
        <security:http-basic/>
    </security:http>

    <security:authentication-manager alias="authenticationManager" erase-credentials="true">
        <security:authentication-provider ref="serviceAuthenticationProvider"/>
    </security:authentication-manager>
-->
</beans>
